{erl_opts, [
    debug_info,
	warn_export_all
]}.

{mib_first_files, ["mibs/ORG-TC.mib"]}.

{edoc_opts, [{overview,     "src/overview.edoc"},
             {title,        "The LAMA application"},
             {includes,     ["include"]},
             {app_default,  "http://www.erlang.org/doc/man"}]}.

